<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
<h1>My Recipes</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe:${recipes}">
        <td th:text="*{recipe.id}"></td>
        <td th:text="*{recipe.description}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>